
<div class="mt-5 pt-5 pb-5 footer d-flex fs-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <p>Heading</p>
                <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante
                    mollis quam tristique convallis </p>
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <p class="mt-lg-0 mt-sm-3">Social Links</p>
                <div class="d-flex">
                    <ul class="navbar-nav flex-row ">
                        <li class="nav-item">
                            <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75"
                                    src="./assets/twitter.png" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75"
                                    src="./assets/linkedin.png" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75"
                                    src="./assets/facebook.png" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75"
                                    src="./assets/instagram.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <p class="mt-lg-0 mt-sm-4"><mat-icon class="fs-5 me-2">location_on</mat-icon>Location</p>
                <p class="mb-0">Shop no 132 Tulsi Nagar,</p>
                <p class="mb-0">Near Jain Dental Clinic</p>
                <p>Sanganer, Jaipur</p>
                <p class=""><mat-icon class="fs-5 me-3">phone</mat-icon>9785358307</p>
                <p><mat-icon class="fs-5 me-3">mail</mat-icon>aieducation132@gmail.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>