<!-- <footer class="footer w-100 flex-shrink-0 bg-dark text-white-50">
    <div class="d-flex">
        <p class="text-white mt-2 mx-3">9785358307</p>
    </div>
</footer> -->

<div class="mt-5 pt-5 pb-5 footer d-flex">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2>Heading</h2>
                <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante
                    mollis quam tristique convallis </p>
                <p>
                    <div class="d-flex">
                        <ul class="navbar-nav flex-row ">
                            <li class="nav-item">
                                <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75" src="./assets/twitter.png" alt=""></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75" src="./assets/linkedin.png" alt=""></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75" src="./assets/facebook.png" alt=""></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-item text-white mx-2" routerLink="/"><img class="w-75" src="./assets/instagram.png" alt=""></a>
                            </li>
                        </ul>
                    </div>
                <!-- </p> -->
                            
            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Links</h4>
                <ul class="m-0 p-0">
                    <li>- <a href="#">Lorem ipsum</a></li>
                    <li>- <a href="#">Nam mauris velit</a></li>
                    <li>- <a href="#">Etiam vitae mauris</a></li>
                    <li>- <a href="#">Fusce scelerisque</a></li>
                    <li>- <a href="#">Sed faucibus</a></li>
                    <li>- <a href="#">Mauris efficitur nulla</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>
                <p class="mb-0">Shop no 132 Tulsi Nagar,</p>
                <p class="mb-0">Near Jain Dental Clinic</p>
                <p>Sanganer, Jaipur</p>
                <p>9785358307</p>
                <p>aieducation132@gmail.com</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
            </div>
        </div>
    </div>
</div>