<app-header></app-header>
<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item text-center" *ngFor="let item of bannerdata; let i = index"
            [ngClass]="i==0 ?'active': ''">

            <img src="{{baseUrl+'/'+item?.image}}" class="img" alt="img">
        </div>
    </div>
    <button class="carousel-control-prev bg-success ms-5" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-success me-5" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="section d-flex justify-content-center mt-5">
    <!--Colleges  -->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">College</a>
            </div>
            <div>
                <p class="mx-3 fs-6 lh-sm">A unique way to segment your customers based on behavioral data with recency.
                </p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4 fs-6 py-1" type="button"
                    routerLink="/college-details">Click Here</button>
            </div>
        </div>
    </div>

    <!-- Courses-->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">Course</a>
            </div>
            <div>
                <p class="mx-3 fs-6 lh-sm">Identify your campaign metadata with AI from images.</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4 fs-6 py-1" type="button"
                    routerLink="/course-details">Click Here</button>
            </div>
        </div>
    </div>

    <!-- Accounting -->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">Accounting</a>
            </div>
            <div>
                <p class="mx-3 fs-6 lh-sm">See your subject lines performance with metrics such as open rate</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4 fs-6 py-1" type="button"
                    routerLink="/account-details">Click Here</button>
            </div>
        </div>
    </div>

    <!-- Others -->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">Others</a>
            </div>
            <div>
                <p class="mx-3 fs-6 lh-sm">officiis fugiat reiciendis, perferendis modi laudantium! Dolor, nihil
                    quisquam.</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4 fs-6 py-1" type="button"
                    routerLink="/">Click Here</button>
            </div>
        </div>
    </div>
</div>
<hr class="text-success">
<div class="">
    <p class="text-center text-success fs-4">Latest News Here</p>
    <div class="">
        <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active news-box">
                    <div class="d-flex">
                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">First News</p>
                            <p class="">Details of first news</p>
                        </div>

                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Second News</p>
                            <p class="">Details of second news</p>
                        </div>

                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Third News</p>
                            <p class="">Details of third news</p>
                        </div>
                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Fourth News</p>
                            <p class="">Details of fourth news</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item news-box">
                    <div class="d-flex">
                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Fifth News</p>
                            <p class="">Details of fifth news</p>
                        </div>
                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Sixth News</p>
                            <p class="">Details of sixth news</p>
                        </div>
                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Seventh News</p>
                            <p class="">Details of seventh news</p>
                        </div>
                        <div class="newsbox border border-success mx-3 px-4 py-2">
                            <p class="text-primary">Eighth News</p>
                            <p class="">Details of eighth news</p>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev bg-success ms-5" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-success me-5" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<hr class="text-success mt-5">
<div class="">
    <p class="text-center text-success mt-5 fs-4">Image Gellary</p>
    <div class="">
        <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active news-box">
                    <div class="carousel-inner">
                        <div class="carousel-item text-center" *ngFor="let item of Igallerydata; let i = index"
                            [ngClass]="i==0 ?'active': ''">
                            <img src="{{baseUrl+'/'+item?.image}}" class="newsbox" alt="img">
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev bg-success ms-5" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-success me-5" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<hr class="text-success mt-5">
<div class="">
    <p class="text-center text-success mt-5 fs-4">Review</p>
    <div class="">
        <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active news-box">
                    <div class="" style="display: flex; justify-content: center; margin-left: -370px;">
                        <div class="reviewbox border border-success ps-5 py-3">
                            <p class="text-primary">First Review</p>
                            <p class="">Details of first review</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item news-box">
                    <div class="" style="display: flex; justify-content: center; margin-left: -370px;">
                        <div class="reviewbox border border-success mx-3 ps-5 py-3">
                            <p class="text-primary">Second Review</p>
                            <p class="">Details of second review</p>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev bg-success ms-5" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-success me-5" type="button"
                data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<app-footer></app-footer>