<app-header></app-header>
<div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active text-center">
            <img src="./assets/4413024.jpg" class="img" alt="...">
        </div>
        <div class="carousel-item text-center">
            <img src="./assets/65.jpg" class="img" alt="...">
        </div>
        <div class="carousel-item text-center">
            <img src="./assets/5317206.jpg" class="img" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev bg-success ms-5" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next bg-success me-5" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="d-flex justify-content-center mt-5">
    <!--Colleges  -->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">College</a>
            </div>
            <div>
                <p class="mx-3">A unique way to segment your customers based on behavioral data with recency.</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4" type="button"
                    routerLink="/college-details">Click Here</button>
            </div>
        </div>
    </div>

    <!-- Courses-->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">Course</a>
            </div>
            <div>
                <p class="mx-3">Identify your campaign metadata with AI from images.</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4" type="button"
                    routerLink="/course-details">Click Here</button>
            </div>
        </div>
    </div>

    <!-- Accounting -->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">Accounting</a>
            </div>
            <div>
                <p class="mx-3">See your subject lines performance with metrics such as open rate</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4" type="button"
                    routerLink="/">Click Here</button>
            </div>
        </div>
    </div>

    <!-- Others -->
    <div class="card shadow-lg mb-5 mx-5 bg-success">
        <div class="card-body">
            <div class="text-center mb-3">
                <a class="fs-5 text-decoration-none text-white fw-bold">Others</a>
            </div>
            <div>
                <p class="mx-3">officiis fugiat reiciendis, perferendis modi laudantium! Dolor, nihil quisquam.</p>
            </div>
            <div class="text-center">
                <button class="px-2 text-danger border border-none bg-light rounded-2 mt-4" type="button"
                    routerLink="/">Click Here</button>
            </div>
        </div>
    </div>
</div>

    <app-footer></app-footer>