a:hover {
    text-decoration: none;
}

.card {
    flex-basis: 28%;
}

.section {
    display: flex;
    flex-wrap: wrap;
}

.carousel-control-prev,
.carousel-control-next {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;

}
.img{
    width: 100%;
    height: 700px;
}
.newsbox{
    height: 18rem;
    width: 35rem;
    border-radius: 20px;
}
.news-box{
    margin-left: 7.3rem;
}
.reviewbox{
    height: 20rem;
    width: 40rem;
    border-radius: 80px;
}