<app-header></app-header>
<div class="row mx-2">
    <div class="col-2">
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">MBA</h4>
            <p>Details about MBA</p>

        </div>
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">NDA</h4>
            <p>Details about NDA</p>

        </div>
    </div>

    <div class="col-2">
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">B.Tech</h4>
            <p>Details about B.Tech</p>

        </div>
    </div>

    <div class="col-2">
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">M.tech</h4>
            <p>Details about M.tech</p>

        </div>
    </div>

    <div class="col-2">
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">JEE</h4>
            <p>Details about JEE</p>

        </div>
    </div>

    <div class="col-2">
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">NDA</h4>
            <p>Details about NDA</p>

        </div>
    </div>

    <div class="col-2">
        <div class="bg-success rounded-2 text-center">
            <h4 class=" mt-5 bg-success rounded-2">NEET</h4>
            <p>Details about NEET</p>

        </div>
    </div>

</div>

<app-footer></app-footer>