<app-header></app-header>


<div class="row ms-4">
    <div class="col-4">
        <img class="w-75 mt-4" src="./assets/architecture-independence-palace-ho-chi-minh-city.jpg" alt="">
        <p class="ms-3 text-white">College of Technology and Engineering,Udaipur</p>
    </div>

    <div class="col-4">
        <img class="w-75 mt-4" src="./assets/beautiful-view-axe-majeur-blue-sky-captured-cergy-france.jpg" alt="">
        <p class="ms-3 text-white">Arya College of Engineering,Jaipur</p>
    </div>

    <div class="col-4">
        <img class="w-75 mt-4" src="./assets/church-city-shanghai-china.jpg" alt="">
        <p class="ms-3 text-white">Manipal University, Jaipu</p>
    </div>

</div>

<app-footer></app-footer>